DATABASE_URL=postgresql://when2watch_app:<wachtwoord>@db:5432/when2watch
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ALLOWED_GOOGLE_EMAIL=
GOOGLE_CALENDAR_ID=
CRON_SECRET=
